@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Raleway:wght@700&display=swap');


.container {
  display: flex;
  flex-direction: column;
  margin: 400px;
  margin-top: 100px;
  background: ghostwhite;
  padding-bottom: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.1);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.header2 {
  position: absolute;
  top: 90%;
  left: 74%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 9px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 45px;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text {
  color: rgb(164, 87, 160);
  font-size: 20px;
  font-weight: 700;
}
.textResults{
  position: relative;
  font-size: 50px;
  top: 100px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  font-weight: 900;
  color: white;
  background-color: #79797950;
  width: 40%;
}

.texts {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

.underline {
  width: 40px;
  height: 4px;
  background: rgb(164, 87, 160);
  border-radius: 9px
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  margin: auto;
  background: #eaeaea;
}

.input input {
  position: static;
  height: 15px;
  width: 450px;
  background: transparent;
  border: none;
  color: #797979;
  font-size: 19px;
}

.signUp {
  display: flex;
  gap: 30px;
  margin: 60px auto;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: rgb(164, 87, 160);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 220px;
}

.authenticationOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 220px;
  height: 59px;
  color: #fff;
  background: rgb(57, 87, 235);
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5172f5;
}

.navbar a{
  background: linear-gradient(to right, #177760, #00FFFF); 
  color: transparent; 
  display: inline-block; 
  -webkit-background-clip: text; 
  background-clip: text;
}

.navbar-title {
  color: #ffffff;
  font-size: 30px;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  margin-left: 60px;
}

.logout{
  margin-right: 30px;
}

.nav-list {
  list-style: none;
  margin: 0;
  display: flex;
}

.nav-item {
  margin-right: 40px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif
}

.nav-item a:hover {
  color: #177760;
}
body {
  background-color: #f4f4f4;
  height: 100vh;
}

.search-container {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.budget-select {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}